# Credenciales y configuración local
.env

# Entorno virtual de uv
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/


# Sistemas operativos
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

.claude
docs

src/riopaila_rag/config.py